body {
    background-image: url("image.png");
    background-repeat: repeat;
    margin: 20px 20px 0px 20px
}

.title {
    text-align: center
}


@media screen and (min-width: 400px) {

    .card {
        width: 300px;
        height: 450px;
        background-color: rgb(57, 32, 6);
        box-shadow: 10px 5px 5px rgba(255,255,0,0.7);
        overflow: hidden;
        max-width: 300px;
        max-height: 450px;
    }

    .flexbox {
        padding: 0;
        margin: 0 auto; 
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 20px
        
    }


}

.card-back {
    width: 95%;
    height: 60%;
    background-color: rgb(206, 152, 51);
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 10px;
}

.card-description {
    width: 95%;
    height: 30%;
    background-color: rgb(206, 152, 51);
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 10px;
    font-family: "Sofadi One", system-ui;
    font-size: 20px;
    font-style: normal;
    text-align: center
}

.image {
    margin: 0 auto;
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.card:nth-child(1):hover {
    scale: 1.1;
    transition: 0.5s
}

.card:nth-child(2):hover {
    transform: rotateY(360deg);
    transition: 2.5s
}

.card:nth-child(3):hover {
    transform: translate(25px);
    transition: 0.5s;
}

.card:nth-child(4):hover {
    scale: 0.9;
    transition: 0.5s;
}

.card:nth-child(5):hover {
    box-shadow: 20px 10px 10px rgba(255,255,0,1.5);
    transition: 1s
}

.card:nth-child(6):hover {
    scale: 1.1;
    transition: 0.5s
}

.card:nth-child(7):hover {
    transform: rotateY(360deg);
    transition: 2.5s
}

.card:nth-child(8):hover {
    transform: translate(25px);
    transition: 0.5s;
}

.card:nth-child(9):hover {
    scale: 0.9;
    transition: 0.5s;
}

.card:nth-child(10):hover {
    box-shadow: 20px 10px 10px rgba(255,255,0,1.5);
    transition: 1s
}

.card:nth-child(11):hover {
    transform: rotateY(360deg);
    transition: 2.5s
}

.card:nth-child(12):hover {
    transform: rotateY(360deg);
    transition: 2.5s
}

.card:nth-child(13):hover {
    transform: translate(25px);
    transition: 0.5s;
}

.card:nth-child(14):hover {
    scale: 0.9;
    transition: 0.5s;
}

.card:nth-child(15):hover {
    box-shadow: 20px 10px 10px rgba(255,255,0,1.5);
    transition: 1s
}

.card:nth-child(16):hover {
    scale: 1.1;
    transition: 0.5s;
}


