body {
    background-color: palegreen;
}

.title {
    text-align: center
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    justify-content: space-between
}

@media screen and (min-width: 1000px ){ 
    .card {
        width: 400px;
        height: auto;
        align-items: center;
        text-align: center;

    }
}